.logo {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}

.store-card{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 12px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    height: 150px; 
    background-color: rgb(233, 219, 202);
}
.store-card .store-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    row-gap: 5px; 
    align-items: center;
    height: 100%;
    width: 100%;
}

.store-card .store-item .logo {
    grid-column: 1;
    grid-row: 1 / 5; 
    justify-self: center;
    align-self: center;
}

.store-card .store-item > :not(.logo) {
    grid-column: 2;
    justify-self: center; 
    align-self: start;
    text-align: center;
}

.store-card .store-item h4 {
    margin: 0;
    font-size: 1.1rem;
}
.store-card .store-item p {
    margin: 0;
    font-size: 0.90rem;
    line-height: 1.3;
}

.store-card .store-item small{
    margin: 0;
    font-size: 0.75rem;
}


@media (max-width: 600px) {
    .store-card{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto; 
    }
    .store-card .store-item {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }
    .store-card .store-item .logo {
        width: 72px;
        height: 72px;
    }
}