
a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 100vh;
  background-image: url('/backround-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; 
}

.equal-card {
  width: 280px;
  height: 320px;
  max-width: 100%;
}

.equal-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
}

#header-text {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}








