a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  min-height: 100vh;
  background-image: url("/Bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Manrope", sans-serif;
}

.equal-card {
  width: 280px;
  height: 320px;
  max-width: 100%;
  margin: auto;
}

.equal-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
}

#header-text {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
