.vacuum-page {
  margin-top: 0;

  background: rgba(255, 255, 255, 0.01); /* light transparent overlay */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  text-align: center;
}

h1 {
  color: #3e3a35;
  margin-bottom: 2rem;
}

.bus {
  width: 320px;
  height: 640px;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: crosshair;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-color: #eaddcf;
  transition: all 0.2s ease;
}

.bus:hover {
  transform: scale(1.02);
}

p {
  margin-top: 1rem;
  color: #444;
}

.bus rect,
.bus circle,
.bus g {
  pointer-events: none;
}

/* Modal overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(250, 248, 248, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* ensures it's on top */
}

/* Modal box */
.modal-content {
  background: rgb(214, 204, 182);
  padding: 30px;
  border-radius: 12px;
  width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content label {
  display: block;
  margin: 10px 0;
}

.modal-content button {
  margin: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.bus-wrapper {
  position: relative;
  display: inline-block;
}

.robot {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: left 0.05s linear, top 0.05s linear;
  z-index: 10;
}

.title img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  vertical-align: middle;
}
.pal {
  font-size: 14px;
}
